*{
    margin:0;
    padding:0;
}
body{
    background-color:#040D12;

}
h1{
    color:white;
    text-align:center;
    font-size: 2em;
    font-weight: 600;
    margin: auto;
    margin-top: 1em;
    text-decoration: underline;

}
#Container
{
    width:23em;
    height:30em;
    background-color:#183D3D;
    margin: 2em auto;
    /* border: 2px solid black; */
}
#Container div{
    width:100%;
    height:16.7%;
  
}
#Container div button{
    color:white;
    width:25%;
    height:100%;
    margin-right: -4px;
    background-color: #5C8374;
    display:inline-block;
    vertical-align: top;
    font-size:x-large;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 0;
    cursor: pointer;
}
#Container div button:hover{
    background-color:#9EC8B9;
    border:1px solid rgb(11, 10, 10);
}
#div1
{
    position: relative;
}
#div1 span {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-size: xx-large;
    font-weight: 800;
}